# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
natas-venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE specific files
.vscode/
.idea/